<%- include('partials/head.ejs') %>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <%- include('partials/nav.ejs') %>
  <main class="min-h-screen flex items-center justify-center bg-gray-50">
    <h1 class="text-4xl font-extrabold text-gray-800">
      Page not found!
    </h1>
  </main>
</body>
</html>