<header class="bg-white shadow">
  <!-- Add this script once in your layout (or keep here if you don't load Tailwind elsewhere)-->
  <script src="https://cdn.tailwindcss.com"></script>

  <nav class="container mx-auto flex items-center justify-between p-4">
    

    <div class="flex items-center space-x-3">
      <a href="/" class="text-gray-600 hover:text-indigo-600 px-3 py-2 rounded-md">Home</a>
      <a href="/contact-us" class="text-gray-600 hover:text-indigo-600 px-3 py-2 rounded-md">Contact-us</a>
      <a href="/about-us" class="text-gray-600 hover:text-indigo-600 px-3 py-2 rounded-md">About</a>
      <a href="/host/add-home" class="text-gray-600 hover:text-indigo-600 px-3 py-2 rounded-md">Add Home</a>
    </div>
  </nav>
</header>